body{
  background-color: #d0e8f2;
}
.main-container{
  text-align: center;
  padding: 10% 10% 10%;
  font-size: 1.2rem;
  font-family: sans-serif;
}
.btn{
  color: red;
  text-align: center;
  background-color: #fff;
}
